# build & cache
dist/
coverage/
node_modules/
.turbo/
.next/
.out/
build/
apps/**/dist/
packages/**/dist/

# generated & locks
pnpm-lock.yaml
yarn.lock
*.snap
*.d.ts
**/*.generated.*
**/__generated__/**

# misc
.DS_Store
